.item-component {
  bottom: 20px;
  right: -20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;

  .box-connector {
    height: 20px;
    width: 100%;
  }
}

.bold {
  font-weight: bold;
}

.item-component-list-rep {
  max-width: 400px;
  overflow: hidden;
}

.content-list-reprodution {
  background: #333;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;

  .title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
  }

  .list-list-reproduction {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;

    .item-list-reproduction {
      background: #222;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s ease-out;
      align-items: center;

      &:hover {
        background: #333;
      }

      .percent {
        height: 3px;
        width: 100px;
        background: #d26e29;
        margin-left: auto;
      }
    }

    .selected {
      background: #333;
    }
  }
}

.content-next {
  background: #333;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  .title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
  }

  .item {
    background: #222;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      background: #333;
    }
  }
}

.playbackRate {
  cursor: pointer;
  font-weight: bold;
  max-width: 150px;

  small {
    font-weight: lighter;
    font-weight: 10px;
  }

  span {
    opacity: 0.2;
    font-size: 25px;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  .item {
    flex-direction: row;
    align-items: center;
  }
  svg {
    font-size: 14px !important;
    margin-right: 5px;
  }
}

.list-quality-component {
  bottom: 20px;
  right: -20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  min-width: 200px;

  .box-connector {
    height: 20px;
    width: 100%;
  }

  .content {
    font-size: 14px;
    background: #222222;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    div {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: #333;
      }
    }

    span {
      margin-right: 5px;

      &:nth-child(1) {
        font-weight: bold;
      }
    }

    svg {
      color: #f78b28;
      font-size: 2em;
      margin-left: auto;
    }
  }
}

@keyframes toUpOpacity {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  30% {
    opacity: 1;
    transform: translateY(-20px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.scroll-clean-player::-webkit-scrollbar-track {
  background-color: #222;
}

.scroll-clean-player::-webkit-scrollbar {
  width: 8px;
}

.scroll-clean-player::-webkit-scrollbar-thumb {
  background: #333;
}
